@model Project_Group3.Models.ModelsView
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/fonts/boxicons.css" />

<div class="container-fluid mt-2 mb-3 p-0">
    <div class="card mb-4 bg-theme">
        <form asp-action="Delete" class="ml-5 mt-3 mb-3" enctype="multipart/form-data">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="hidden" asp-for="@Model.Lesson.LessonId">
                            <input type="hidden" asp-for="@Model.Lesson.CourseId">
                            <input type="hidden" asp-for="@Model.Lesson.ChapterId">
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Lesson.LessonName" class="text-theme font-weight-bold"></label>
                            <input asp-for="@Model.Lesson.LessonName" class="form-control" readonly/>
                            <span asp-validation-for="@Model.Lesson.LessonName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Lesson.Description" class="text-theme font-weight-bold"></label>
                            <input asp-for="@Model.Lesson.Description" class="form-control" readonly/>
                            <span asp-validation-for="@Model.Lesson.Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Lesson.PercentToPassed" class="text-theme font-weight-bold"></label>
                            <input asp-for="@Model.Lesson.PercentToPassed" class="form-control" readonly/>
                            <span asp-validation-for="@Model.Lesson.PercentToPassed" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Lesson.Content" class="text-theme font-weight-bold"></label>
                            <input asp-for="@Model.Lesson.Content" class="form-control" readonly/>
                            <span asp-validation-for="@Model.Lesson.Content" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Lesson.Index" class="text-theme font-weight-bold"></label>
                            <input asp-for="@Model.Lesson.Index" class="form-control" readonly/>
                            <span asp-validation-for="@Model.Lesson.Index" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Lesson.Time" class="text-theme font-weight-bold"></label>
                            <input asp-for="@Model.Lesson.Time" class="form-control" readonly/>
                            <span asp-validation-for="@Model.Lesson.Time" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-success mr-3">Delete</button>
            <a href="@Url.Action("Index", "Lesson", new {courseId = @Model.Lesson.CourseId})" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>

@{
    var errorMessage = ViewBag.Message as string;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">@errorMessage</div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
